{% load staticfiles %}

.banner1 { background-image: url("../media/images/bluebackground.png") }
.stationery1 {}

.nav.navbar-nav.navbar-right li a, .nav.navbar-nav li a{font-size: 12px; color: black; }

.footer {color: #666; background: #222; padding: 17px 0 18px 0; border-top: 1px solid #000; height: 180px;}
.footer a {color: #999;}
.footer a:hover {color: #efefef;}

.sidebar{ padding:0 20px 50px 0px; margin: 0px; }

.breadcrumb { background-image: url("../media/images/bluebackground.png"); text-decoration-color: white; }

#banner { animation-timing-function: ease-in-out; }